{% extends 'base.html' %}
{% load static%}

{% block title %}Contacto - Game Store{% endblock %}


{% block content %}
<div class="container mt-5">
    <h1 class="text-body">Contacto</h1>
    <p class="text-body">Envía un correo al creador del proyecto: fabri404lopez@gmail.com
    </p>

    <div class="alert alert-primary">Repositorio de 
       <a href="https://github.com/fabri404/Game_Store_App" class="text-body">
          Github.
       </a>
    </div>
    <div class="alert alert-warning">Contacto via 
      <a href="https://www.linkedin.com/in/adriel-lopez/" class="text-body">
          Linkedin.
       </a>
    </div>
    <div class="alert alert-danger">Este es una demostracion del uso de tecnologias back-end.</div>
</div>

{% endblock %}

